.item{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    border: 3px solid skyblue;
    border-radius: 15px;
    width: 100%;
    padding: 10px;
   max-width: 400px;
   margin-bottom: 10px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.taskList {
    display: flex;
    justify-content: center;
    
}


